.header
    display: flex
    align-items: center
    justify-content: space-between
    background: transparent
    margin: 15px
    position: absolute
    top: 0%
    z-index: 10
    width: 1200px

