@import './_header.sass';

@import './elements/_logo.sass';
@import './elements/_menu.sass';
@import './elements/_basket.sass';
@import './elements/_card.sass';
@import './elements/_present.sass';

@import './hero.sass';
@import './_preview.sass';
@import './_shop.sass';
@import './_about.sass';
@import './_footer.sass';

@import './_shopage.sass'